<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fake News Deterctor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .center
             {
                margin:auto;
                height: 200px;
                width: 200px;
                position:fixed;
                top:0;
                bottom:0;
                left:0;
                right:0;
             }
        </style>
        <style>
            .tabs
            {
                position : absolute;
                right : 10px;
                top : 5px;
            }
    </style>
    </head>
    <body>
        <div class="tabs">
            <!--{{request.META}}-->
            {% if signedin %}
                <button type="button" onclick="location.href='{% url 'submit_ulr' %}'">submit_link</button>
                <button type="button" onclick="location.href='{% url 'display_links' %}'">display_urls</button>
                <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
            {% else %}
                <button type="button" onclick="location.href='{% url 'display_links' %}'">display_urls</button>
                <button type="button" onclick="location.href='{% url 'display_analytics' %}'">Analytics</button>
                <button type="button" onclick="location.href='{% url 'submit_ulr' %}'">submit_link</button>
                <button type="button" onclick="location.href='{% url 'signin' %}'">SignIn</button>
            {% endif %}
        </div>
        <div class="center">
            <form name="check_url" id="check_url"  action="/check_url/" method="post">
                {% csrf_token %}
                <input class="form-control" type="url" required name = 'url_field' placeholder="Check the link"><br>
                <button type="submit" class="btn btn-primary">Check</button>
            </form>
            {% if url_details %}
                <div>{{url_details.url}} {{url_details.frequency}}</div>
            {% endif %}
            {% if message %}
                <div>{{message}}</div>
            {% endif %}
        </div>
    </body>
</html>