<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
        position : absolute;
        right : 10px;
        top : 5px;
        }
    </style>
</head>
<body>
    <div>
        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
        <button type="button" onclick="location.href='{% url 'display_links' %}'">display_urls</button>
        <button type="button" onclick="location.href='{% url 'url_checker' %}'">url_checker</button>
    </div>
    Welcome {{mail}}

</body>
</html>